{% include layout/header.html %}

<div class="content-container">

	{% include layout/sidebar.html %}

	<section class="content">
		<div class="content-wrap">
            <h2>We have moved!</h2>
            <p>The project repository for this documentation site is now part of the <a href="https://github.com/magento-research/pwa-studio">PWA Studio</a> project.</p>
            <p>As a result, the documentation site is now at: <br/>
               <strong><a href="https://magento-research.github.io/pwa-studio/">https://magento-research.github.io/pwa-studio/</a></strong>
            </p>
            <p>Please updated your bookmarks. Thanks!</p>
		</div>
		<!-- /.content-wrap -->
	</section>
	<!-- /.content -->

</div> <!-- /.content-container -->

{% include layout/footer.html %}