.feature {

    /* Adds an external icon to links that open to other pages */
    a[href^='http://']:not([href*='magento.com']):after, a[href^='https://']:not([href*='magento.com']):after {
        content: '';
        margin: -3px 0 0 2px;
        display: inline-block;
        background: url(../../assets/i/icons/external.svg) no-repeat center; 
        vertical-align: middle;
        width: 16px;
        height: 16px;
    }

    img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }

    .title {
        padding-top: 10px;
    }

    &.side {
        img, .title {
            display: inline;
        }

        img {
            width: 30px;
            height: 30px;
            margin: 0px 5px 5px 0px;
        }
        text-align: left;

        ul {
            padding: 10px 10px;
        }
    }

    &.card {
        width: 50%;
        
        p{
            text-align: left;
            line-height: 24px;
            font-size: 14px;
        }
    }

    margin: 10px 40px;
}